package it.unibo.spe.mdd.sheduler;

import java.time.Duration;
import java.time.LocalDateTime;
import java.util.concurrent.Executors;

public class ShedulerSystem___INPUT__ {
    public static void main(String[] args) {
        SheduleRuntime runtime = new SheduleRuntime(Executors.newScheduledThreadPool(1));
        __TASKS__
    }
}
