package it.unibo.spe.mdd.sheduler;

import java.time.Duration;
import java.time.LocalDateTime;
import java.util.concurrent.Executors;

public class ShedulerSystem___INPUT__ {
    public static void main(String[] args) {
        ShedulerRuntime runtime = new ShedulerRuntime(Executors.newScheduledThreadPool(1));
        __TASK_POOLS_CALLS__
    }
    
    __TASK_POOLS_DEFS__
}
